# Dependencies and Builds
node_modules/
dist/
build/
.next/
.nuxt/
.serverless/

# Logs and Data
*.log
.npm
.eslintcache
.nyc_output
coverage/

# Environment Variables
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db